@import url('https://fonts.googleapis.com/css2?family=Quicksand&family=Zen+Antique&display=swap');

.pageContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.iconContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.iconButton{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}


body{
    background-color: #EBEEF3;
    font-family: 'Quicksand', sans-serif;
}

.card{
    width: 38%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 15px;
}

.feelingCardFooter{
    background-color: #F2F6F9;
    width: 38%;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.cardFooter{
    background-color: #F2F6F9;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0px 0px 15px 15px;
}

.cardBody{
    display: flex;
    justify-content: space-evenly;
    width: 85%;
    padding: 40px;
    height: 125px;
}

.badIconImg{
    background-image: url("../../icons/bw-bad.png");
    width: 60px;
    height: 60px;
    background-size: contain;
    transition: .2s;
}

.badIconImg:hover{
    background-image: url("../../icons/bad.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.badIconImg:focus{
    background-image: url("../../icons/bad.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}


.goodIconImg{
    background-image: url("../../icons/bw-good.png");
    width: 60px;
    height: 60px;
    background-size: contain;
}

.goodIconImg:hover{
    background-image: url("../../icons/good.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.goodIconImg:focus{
    background-image: url("../../icons/good.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}


.greatIconImg{
    background-image: url("../../icons/bw-great.png");
    width: 60px;
    height: 60px;
    background-size: contain;
}

.greatIconImg:hover{
    background-image: url("../../icons/great.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.greatIconImg:focus{
    background-image: url("../../icons/great.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}


.okayIconImg{
    background-image: url("../../icons/bw-okay.png");
    width: 60px;
    height: 60px;
    background-size: contain;
}

.okayIconImg:hover{
    background-image: url("../../icons/okay.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.okayIconImg:focus{
    background-image: url("../../icons/okay.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.terribleIconImg{
    background-image: url("../../icons/bw-terrible.png");
    width: 60px;
    height: 60px;
    background-size: contain;
}

.terribleIconImg:hover{
    background-image: url("../../icons/terrible.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}

.terribleIconImg:focus{
    background-image: url("../../icons/terrible.png");
    width: 72px;
    height: 72px;
    background-size: contain;
    transition: .2s;
    cursor: pointer;
}


.card-header{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-radius: 15px 15px 0 0 ;
}


.inputField{
    display: flex;
    flex-direction: column;
}

.nextButton{
    margin-right: 20px;
    cursor: pointer;
    border-radius: 50px;
    padding: 15px;
    width: 90px;
    background-color: #3A9DF8;
    border: none;
    color: white;
    font-size: 16px;
    transition: .2s;
}

.nextButton:hover{
    background-color: #3893e9;
    transition: .2s;
}

.backButton{
    margin-left: 20px;
    cursor: pointer;
    color: #697885 !important;
    font-size: 16px;
}

.backButton:hover{
    text-decoration: underline;
}

.link{
    text-decoration: none; 
    color: black;
}

.textArea{
    width:100%;
    height:150px;
}

.qSection{
    display: flex;
    width: 33%;
}

.thankYouPage{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}
