.App-header {
    background-color: #9dbef3;
    min-height: 70px;
    padding: 20px;
    color: black;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .App-title {
    font-size: 2em;
  }
  
  .App-intro {
    font-size: large;
  }
  
  h4 {
    font-style: italic;
  }